<div class="container">
    <h2>Login</h2>
    <form id="login-form">
        <div class="form-group label-static is-empty">
            <label for="username" class="control-label">Usuario</label>
            <input id="username" name="username" class="form-control"type="text" placeholder="UserName"/>
            <br/><br/>
        </div>
        <div class="form-group label-static is-empty">
            <label for="password" class="control-label">Contraseña</label>
            <input id="password" name="password" class="form-control" type="password" placeholder="Password"/>
            <br/><br/>
        </div>
        <button type="submit" class="btn btn-raised btn-info">Submit</button>
    </form>
</div>